# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

users.json

ai/fine_tuned_model/
*.safetensors
*.pt
.venv/
__pycache__/
*.pyc
ai/fine_tuned_model/
*.safetensors
*.pt